 @import "tailwindcss";

 /* 🔥 Import Custom Fonts */
 @font-face {
     font-family: "IntegralCF";
     src: url("/fonts/integralcf-bold.woff") format("woff");
     font-weight: 700;
     font-style: normal;
 }

 @font-face {
     font-family: "IntegralCF";
     src: url("/fonts/Integralcf-Medium.woff") format("woff");
     font-weight: 500;
     font-style: normal;
 }

 @font-face {
     font-family: "IntegralCF";
     src: url("/fonts/Integralcf-Regular.woff") format("woff");
     font-weight: 400;
     font-style: normal;
 }



 .font-integral {
     font-family: "IntegralCF", sans-serif;
     font-weight: 700;
 }